@import '~@nevermined-io/styles/lib/cjs/styles/index.scss';

footer {
  background: rgba(0,0,0,0.1) !important;
  a {
    color: #57A7DE !important;
  }
}

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.nvm {
  &__container {
    margin: 0 auto;
    max-width: var(--ifm-container-width);
    padding: 0 var(--ifm-spacing-horizontal);
    width: 100%;
    text-align: center;
  }

  &__page-wrapper {
    @supports (background-blend-mode: lighten) {
      background-color: gc(bg);
      background-image: url('/nevermined/backgrounds/header-bg.png'), url('/nevermined/backgrounds/home-bg-banner.png');
      background-position: 0 100%, 100% 100%;
      background-repeat: no-repeat;
      background-size: 1800px, min(1800px, 100%);
      background-blend-mode: lighten;
    }
  }

  &__boxes {
    display: flex;
    align-items: center;
    padding: 2rem 0 10rem;
    width: 100%;
  }

  &__title {
    text-align: center;
  }

  &__description {
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
  }

  &__banner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  @media screen and (max-width: 996px) {
    &__banner {
      padding: 2rem;
    }
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media all and (max-width: 1023px) {
  .nvm {
    &__page-wrapper {
      @supports (background-blend-mode: lighten) {
        background-image: url('/nevermined/backgrounds/header-bg_mobile.png'), url('/nevermined/backgrounds/home-bg-banner_mobile.png');
      }
    }

    &__box {
      padding: 40px;
    }
  }
}